<div class="item-list job-item">
    <div class="col-sm-1  col-xs-2 no-padding photobox">
        <div class="add-image"><a href=""><img class="thumbnail no-margin"
                                               src="{{ trayecto.avatar }}"
                                               alt="Avatar de {{ trayecto.conductor }}"></a></div>
    </div>
    <!--/.photobox-->
    <div class="col-sm-10  col-xs-10  add-desc-box">
        <div class="add-details jobs-item">
            <h5 class="company-title"><a href="">{{ trayecto.conductor }}</a></h5>
            <h4 class="job-title"><a href="job-details.html"> {{ trayecto.origen }} a {{ trayecto.destino }} </a></h4>
            <span class="info-row">
                <span class="item-location"><i class="fa fa-map-marker"></i> {{ trayecto.calle }} </span> 
                <span class="date"><i class=" icon-clock"> </i>{{ trayecto.hora }}</span>
                <span class="salary"><i class=" icon-money"> </i> {{ trayecto.precio }}</span>
                <span class="date"><i class="icon-calendar"> </i> {{ trayecto.echaPublicacion|date }}</span>
            </span>

            <div class="jobs-desc">
                {{ trayecto.descripcion|recortarTexto(75) }}
            </div>


            <div class="job-actions">
                <ul class="list-unstyled list-inline">
                    <li>
                        <span class="save-job">
                            <span class="fa fa-users"></span>
                            {{ trayecto.plazas }} plazas
                        </span>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <!--/.add-desc-box-->

    <!--/.add-desc-box-->
</div>